@font-face {
    font-family: 'rockstar';
    src: url('../../fonts/RockStar/RS-extrabold.otf');
    font-weight: 800;
}
@font-face {
    font-family: 'rockstar';
    src: url('../../fonts/RockStar/RS-extralight.otf');
    font-weight: 200;
}
@font-face {
    font-family: 'rockstar';
    src: url('../../fonts/RockStar/RS-regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'rockstar';
    src: url('../../fonts/RockStar/RS-semibold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'qrosbi';
    src: url('../../fonts/qrosbi/Qrosbi.otf');
    font-weight: 400;
}